
{% extends 'accounts/base.html' %}
{% load static %}
<!-- Start Header/Navigation -->
{% block bootstraplink %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="untree_co-section product-section before-footer-section">
	<div class="container">
		<div class="row">
			<!-- Start Column 1 -->
			{% for variant in variants %}
			<div class="col-lg-3 mb-5 mt-5">
				<div class="mx-1">
					<div class="mx-2 mt-2 mb-2"
						style="background-color:rgb(214, 214, 214); border: 5px solid rgba(239, 239, 239, 0.968); border-radius:30px;">
						<a class="product-item" href="{% url 'product_details' variant_id=variant.id %}">
							<img src="/media/{{variant.image1}}" class="img-fluid product-thumbnail mt-4"
								width="60%" height="60%">
							<h3 class="product-title">{{variant.product.product_name}}</h3>
							<strong class="product-price"
								style="color: rgb(255, 0, 0);">Rs.{{variant.selling_price}}</strong>
							<div class="d-flex justify-content-center">
								<span class="icon-cross">

									<img src="{% static 'images/icons8-love-16.png' %}" class="img-fluid">
								</span>
								<div class="d-flex coloum mt-2 mb-2">
									<a href="{% url 'add_cart' product_id=variant.id %}">
										<button class="btn button-addtocart">Add to Cart</button>
									</a>
									<button class="btn btn-primary">Buy Now</button>
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>


{% endblock %}

{% block script %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
{% endblock %}